:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
}

h2 {
  font-weight: bold;
  margin-bottom: 5px;
}

h3 {
  font-weight: bold;
  margin-bottom: 5px;
}

h5 {
  font-weight: bold;
  color: red;
  margin-bottom: 15px;
}

.view_main {
  height: 100%;
}

.setting_section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;

  .gameId_section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin: 0 15px;
    text-align: center;

    h5 {
      position: absolute;
      top: -22px;
      width: 200px;
    }
  }

  .jsonText_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: 0 15px;
    text-align: center;

    div {
      display: flex;
      align-items: center;
    }

    button {
      margin-left: 5px;
      cursor: pointer;
    }
  }

  input {
    height: 25px;
    width: 140px;
    margin: auto;
    padding: 15px; 
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    border: 2px solid lightseagreen;
    border-radius: 5px;
  }
}

.insert_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  margin: 20px auto 0;

  .insert_team {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding-bottom: 35px;

    input {
      height: 30px;
      width: 120px;
      margin: 10px;
      padding: 20px 10px; 
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      border: 2px solid lightseagreen;
      border-radius: 10px;
    }
  }
}

.button_section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 500px;
  margin: 10px auto;
  padding-bottom: 80px;

  button {
    height: 40px;
    width: 200px;
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: cornsilk;
    background-color: cadetblue;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
